:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
}

h1 {
  margin-left: 1%;
}

.navCont {
  display: flex;
  list-style-type: none;
}

.navElem {
  padding: 0 5px 0 0;
}

.businessesCont {
  margin-left: 1%;
}

.employeePreviewCont {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 98%;
  border: solid 1px black;
  margin-left: 1%;
  margin-top: 1%;
  padding: 5px;
  border-radius: 5px;
}

.employeePreviewCont:last-child {
  margin-right: 1%;
}

.allEmployeesCont {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 100%;
}

.employeeDetailCont {
  display: flex;
  flex-wrap: wrap;
  /* border: solid 1px black; */
}

.dataLabel {
  width: 30%;
  text-align: right;
  padding-right: 5px;
  font-weight: bold;
}

.dataLabel25 {
  width: 25%;
}

.dataLabel65 {
  width: 65%;
}

.dataLabel10 {
  width: 10%;
}

.updateImage {
  width: 200px;
  padding-bottom: 5px;
}
.dataValue {
  width: 70%;
  vertical-align: top;
}

.dataItem {
  margin-bottom: 3px;
}

.fullWidth {
  width: 100%;
  border: 1px solid black;
}

input[type='text'] {
  width: 200px;
}

.imgCont {
  width: 20%;
  padding-right: 5px;
  /* border: 1px solid blue; */
}

.nameCont {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.emplName {
  font-size: 2rem;
  width: 85%;
  margin-bottom: 2%;
  text-align: center;
}

.emplId {
  width: 15%;
  /* border: 1px solid black; */
  text-align: right;
}

.previewLabel {
  padding-right: 2px;
  width: 50%;
  /* border: 1px solid black; */
  text-align: right;
  font-weight: bold;
  margin-top: 0.5%;
}

.previewValue {
  width: 50%;
  margin-top: 0.5%;
}

@media (min-width: 750px) {
  .employeePreviewCont {
    width: 48.5%;
  }
}

@media (min-width: 1450px) {
  .employeePreviewCont {
    width: 23.75%;
  }
}
